main {
  .MY-nedsimg {
    .my-imgMark {
      max-width: 600px;
      top: 0;
      left: 150px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      h5 {
        font-family: cursive;
      }
      h2 {
        font-size: 44px;
        text-align: start;
      }
      p {
        text-align: start;
      }
      button {
        border: 0;
        border-radius: 4px;
        background-color: rgb(253, 122, 0);
        padding: 10px 20px;
        color: white;
      }
    }
  }
  .Steps-to {
    .container {
      padding: 200px 0;
      .my-family {
        max-width: 445px;
        #Layer_1 {
          max-width: 445px;
        }
        button {
          border: 3px solid orangered;
          border-radius: 5px;
          padding: 10px 20px;

          color: orangered;
          transition: 0.5s;
          &:hover {
            background-color: orangered;
            color: white;
          }
        }
      }

      display: flex;
      justify-content: space-between;

      .fosterchild {
        max-width: 454px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
      }
    }
  }
}
