footer {
  padding: 100px 0 200px 0;
  background-color: black;

  .mycontainer {
    display: flex;
    justify-content: space-between;
    color: white;
    .myp {
      display: flex;
      .myfoot {
        display: flex;
        align-items: center;
        gap: 5px;
        color: rgba(255, 255, 255, 0.671);
      }

      .color {
        cursor: pointer;

        padding-left: 10px;
        color: rgba(255, 255, 255, 0.671);

        &:hover {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
